<!DOCTYPE html>
<html>
	<head>
		##parse("header.vm")		
	</head>
	<body>
		
		<div data-role="page" data-dialog="true">
			<div data-role="header" data-theme="b">
				<h1>Created by ${detail.createBy}</h1>
			</div>
			<div role="main" class="ui-content">
				<h2>${detail.createtime}</h2>	
				<p>ContractNo:${detail.contractNo}</p>
				<p>Status:${detail.contractStatus}</p>						
				<p>${detail.contractContent}</p>
			</div>
			<div role="main" class="ui-content">
				<input type="button" data-inline="true" value="Accept" onclick="doSign(${detail.id},'Accept');"></input>
				<input type="button" data-inline="true" value="Decline" onclick="doSign(${detail.id},'Decline');"></input>
			</div>
		</div>
		<!-- /page -->
		

	</body>
</html>
